header{
    background-color: aliceblue;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;

}

nav ul li a{
    text-decoration: none;
    color: black;
}

.Webtitle{
    text-align: center;
    font-size: 200%;
    background-color: white;
    height: 100px;
    width: 700px;
  
    padding: 50px 60px 180px 60px;
    max-width: fit-content;
    margin:auto auto;
}

.Under{
    text-align: center;
    font-size: medium;
    background-color: white;
}



.heading {
    text-align: center;
    font-size: 200%;
    background-color: white;
    height: 100px;
    width: 700px;
  
    padding: 50px 60px 180px 60px;
    max-width: fit-content;
    margin:auto auto;
}


.resume{
   background-color: aliceblue;
   text-align: center;
   
}

.share{
    background-color: black;
    font-weight: 100;
    text-decoration-color: aliceblue;
    color:aliceblue;
    font-size: medium;
    display: inline-block;
    
}

.other {
  background-color:cornsilk;
  text-align: center;
  height: 150px;
  border-radius: 0vb;
}


.bio{
    background-color: aliceblue;
    text-align: center;
    
 }

 .questions{
    background-color:cornsilk;
    text-align: center;
    height: 300px;
    border-radius: 0vb;

 }